.Search-results {
  overflow: auto;
  .Search-item {
    margin-bottom: 42px;
  }
}

.Doctor-contact {
  //margin-left: 72px;
  span {
    display: block;
  }
}

.big {
  font-size: 40px;
}

.Search-not-found {
  background-color: white;
  padding: 24px;
}
