.Search-results {
  margin-top: 120px;
  overflow: auto;
  .Search-item {
    margin-bottom: 42px;
  }
}

.Doctor-contact {
  //margin-left: 72px;
  span {
    display: block;
  }
}

.big {
  font-size: 40px;
}
