.Home {
  color: white;
  padding: 24px;
  min-height: 30vh;

  h1.Search-header {
    color: white;
    margin-bottom: 24px;

    span {
      display: inline-block;
    }

    @media (min-width: 480px) {
      margin-top: 42px;
    }
  }

  .Search-results {
    margin-top: 120px;
    overflow: auto;
    .Search-item {
      margin-bottom: 42px;
    }
  }
}

.Doctor-contact {
  //margin-left: 72px;
  span {
    display: block;
  }
}

.big {
  font-size: 40px;
}
