@import '~antd/dist/antd.less';
@primary-color: #7cd3db;
@menu-bg: transparent;
@menu-item-color: #cff4f8;
@menu-highlight-color: white;

@font-family-no-number : 'Lato', 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family : "Monospaced Number", @font-family-no-number;
@code-family : Consolas, Menlo, Courier, monospace;

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
}
